body{
    text-align: center;
    color: #ffafbf;
    font-size: 20px;
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: #ff5757;
    color: #ffafbf;
.fourgrid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
    column-gap: 3vw;
    padding: 2vw;
    }

