body{
    text-align: center;
    color: #FF10F0;
    background-color: black;
    font-size: 1.6em;
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: black;
    color: #FF10F0;
}
.fourgrid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: auto;
    column-gap: 3vw;
    padding: 2vw;
    }
.btn {
    background-color: black;
    color: #9D00FF;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
    margin: 5px;
    display: inline-block;
}
.btn:hover {
    background-color: purple;
}

