body{
    text-align: left;
    color: #4D4DFF;
    background-color: black;
    font-size: 1.6em;
    font-family: sans-serif;
}
h1{
    text-align: left;
    background-color: black;
    color: #4D4DFF;

.float-img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
}
.btn {
    background-color: black;
    color: #4D4DFF;
    text-align: left;
    text-decoration: none;
    padding: 14px 25px;
    margin: 5px;
    display: inline-block;
}
.btn:hover {
    background-color: blue;
}
